/* Style for the main container */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style for the header */
Header {
    /* background: linear-gradient(to right, #3498db, #2c3e50); Use your preferred color scheme */
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow for depth */
}

/* Style for the content */
Content {
    flex: 1;
    padding: 20px;
}

/* Style for the footer */
Footer {
    background-color: rgb(67, 94, 56);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    /* Push the footer to the bottom */
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgb(7, 59, 38) 0%, rgb(67, 94, 56) 100%);
    color: white;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.brand {
    flex: 1;
    position: relative;
    left: 2vh;
    text-align: left;
}

.waves {
    width: 100%;
    height: 6vh;
    margin-bottom: -7px;
    min-height: 30px;
    max-height: 150px;
}

.NavPublic {
    display: grid;
    flex: 0.3;
    text-align: right;
    grid-area: nav;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
}

.NavPublic a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
}

.NavPublic a:hover {
    transform: scale(1.1);
}

.NavPublic button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
}

.NavPublic button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}


.Nav {
    display: grid;
    flex: 0.8;
    text-align: right;
    grid-area: nav;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
}

.Nav a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
}

.Nav a:hover {
    transform: scale(1.1);
}

.Nav button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
}

.Nav button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
}

.Burger {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
}

.Burger:active {
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .Header {
        grid-template-areas: "logo burger" "nav nav";
    }

    .Nav {
        position: absolute;
        width: 20vh;
        top: 6vh;
        right: 2vh;
        /* Adjust as needed to position it on the right side */
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none;
        padding: 30px 0 30px;
        background: rgba(40, 44, 47, 0.95);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .NavPublic {
        position: absolute;
        width: 20vh;
        top: 6vh;
        right: 2vh;
        /* Adjust as needed to position it on the right side */
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none;
        padding: 30px 0 30px;
        background: rgba(40, 44, 47, 0.95);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .Burger {
        display: inline;
    }
}

.NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
}

.NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 350ms;
}

.NavAnimation-exit {
    opacity: 1;
}

.NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
}

/* Optional: Add a hover effect to links */
a:hover {
    color: #ccc;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}